@charset "utf-8";
/* CSS Document */
/************************************
 *	Version 		1.0.1
 *	Author			wuwg
 *  CreateTime      14.05.14
 *	UpdateTime		14.05.14
**************************************/

/**************************************
*name     		 layout
*status   		 start
*CreatTime 		 14.05.14
**************************************/
.contain {
		width:100%;
		min-width:1002px;
		height:100%;
		overflow:hidden;	
	}
/**************************************
*name      		layout
*status   		 end
*CreatTime 		 14.05.14
**************************************/

/**************************************
*name     		theme
*status    		start
*CreatTime 		14.05.14
**************************************/

/******************************************************************************************************************************************			
														
														content 
														
*************************************************************************************************************************************************/
.content {
		position:relative;
		width:100%;
		height:100%;
		overflow:hidden;
	}
	
/*----  background imgae ----*/
.div_bj_img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
	}
.div_bj_img  img {
		float:left;
		width:100%;
		height:100%;
	}	
/*------------ main_t ------------*/
.main {	
		position:absolute;
		left:0;
		top:100px;
		width:100%;
		z-index:999;
	}
.m_blank_area {
		height:70px;
	}	
.main_t {
		position:relative;
		padding-bottom:70px;
		z-index:1;
	}
.logo {
		margin:0 auto;
		width:765px;
		height:111px;
		padding-bottom:65px;
		background: url(../images/logo.png) 0 0 no-repeat;
	}
.user_link {
		margin:0 auto;
		width:765px;
		zoom:1;
	}	
.user_link:after {
		content:"";
		display:block;
		clear:both;
	}	
.user_link   a {
		float:left;
		display:inline;
		width:230px;
		height:60px;
		color:#000;	
		text-align:center;
		font:30px/59px "Microsoft YaHei";
		background: url(../images/btn_01.png) 0 0 no-repeat;
	}
.user_link   a:hover {
		color:#000;
		text-decoration:none;
		background-position:0 -81px;
	}	
.user_link .a_bespoke {
		margin-left:36px;
	}
.user_link .a_check {
		float:right;
	}
.user_link .current  {
		color:#fff;
		background: url(../images/btn_01.png) 0 -162px no-repeat;
	}
.user_link .current:hover {
		color:#fff;
		background: url(../images/btn_01.png) 0 -162px no-repeat;
	} 
/*------------ main_m ------------*/	
.main_m {
		position:relative;
		z-index:2;
		padding-top:19px;
		width:100%;
	}
.main_m_inner {
		width:100%;
		min-height:400px;
		border-top:1px solid #f2f2f3;
		background-color:#fff;
	}	
.column_01 {
		position:relative;
		margin:0 auto;
		padding-top:12px;
		width:840px;
		zoom:1;
	}	
.column_01:after {
		content:"";
		display:block;
		clear:both;
	}	
.column_01 .arrow {
		position:absolute;
		top:-19px;
		left:125px;
		width:36px;
		height:20px;
		overflow:hidden;
		background:url(../images/arrow_white_top.png) 0 0 no-repeat;
	}
/*---- d_l ----*/	
.column_01  .d_l {
		float:left;
		width:609px;
		border-right:1px solid #f0f0f0;
	}	
.column_01  .d_l p {
		color:#737373;
		font:18px/30px "Microsoft YaHei";
	}	
.column_01  .d_l .p_text {
		padding:10px 0 20px;
	}
.column_01  .d_l .p_yzm {
		padding-bottom:60px;
	}
	
.inp_text_yzm {
		padding:0px 10px;
		width:350px;
		height:54px;
		color:#999;
		font:18px/54px "Microsoft YaHei";
		border:1px solid #cbcbcb;
	}	
.column_01  .d_l .p_yzm 	.inp_text_yzm {
		float:left;
		margin-right:25px;
	} 
.column_01  .d_l  .p_btn {
		padding-bottom:30px;
	}	
.column_01  .d_l  .p_btn  a {
		float:left;
		width:230px;
		height:51px;
		color:#fff;
		font:30px/50px "Microsoft YaHei";
		text-align:center;
		background: url(../images/btn_01.png) 0 -245px no-repeat;
	}
.column_01   .d_l .p_btn  a:hover {
		color:#fff;
		text-decoration:none;	
	}	
/*---- a_load_blue ----*/	
.column_01   .d_l .p_btn .a_load_blue {
		background-position:0 -245px;
	}	
.column_01   .d_l .p_btn .a_load_blue:hover  {
		background-position:0 -298px;
	}
.column_01  .d_l .p_btn  .a_load_blue:active{
		background-position:0 -352px;	
	} 	
/*---- a_load_orange ----*/	
.column_01   .d_l .p_btn .a_load_orange {
		background-position:0 -610px;
	}	
.column_01   .d_l .p_btn .a_load_orange:hover  {
		background-position:0 -671px;
	}
.column_01  .d_l .p_btn  .a_load_orange:active{
		background-position:0 -732px;	
	} 		
/*---- d_r ----*/	
.column_01  .d_r {
		float:right;
		width:220px;
	}
.column_01  .d_r  p {
		color:#737373;
		font:18px/36px "Microsoft YaHei";
	}	
.column_01  .d_r .p_bg {
		padding:30px 0 ;
		height:50px;
		background:#FFF url(../images/icon_01.gif) center 30px no-repeat;
	}
.column_01  .d_r  .p_text {
		padding-left:1em;
	}	
.column_01  .d_r  .p_text  em {
		color:#199e03;
		font:28px/50px "Microsoft YaHei";
		
	}		
.column_01  .d_r  .p_text a {
		color:#007cfa;
	}	
.column_01  .d_r 	 .p_btn {
		padding:30px 0 35px 20px; 
	}	
.column_01  .d_r  .p_btn  a{
		float:left;
		width:180px;
		height:51px;
		color:#fff;
		font:22px/50px "Microsoft YaHei";
		text-align:center;
		background: url(../images/btn_01.png) 0 -415px no-repeat;
	}
.column_01  .d_r  .p_btn  a:hover{
		color:#fff;
		text-decoration:none;
	}
/*---- a_btn_orange ----*/		
.column_01  .d_r  .p_btn  	.a_btn_orange {
		background-position:0 -415px;
	}
.column_01   .d_r .p_btn  .a_btn_orange:hover {
		
		background-position:0 -472px;
	}	
.column_01  .d_r .p_btn .a_btn_orange:active{
		background-position:0 -529px;	
	} 		
/*---- a_btn_blue ----*/	
.column_01  .d_r  .p_btn  	.a_btn_blue {
		background-position:0 -793px;
	}
.column_01   .d_r .p_btn  .a_btn_blue:hover {
		background-position:0 -848px;
	}	
.column_01  .d_r .p_btn .a_btn_blue:active{
		background-position:0 -903px;	
	} 	
	
/*column_03 */	
.column_03  .d_l{
		width:409px;
	}	
.column_03  .d_r {
		width:410px;
	}
/*check_going*/	
.column_03  .check_going  .p_text{
		text-align:center;
		padding:0;
		font:28px/45px "Microsoft YaHei";
	}	
.column_03  .check_going 	.pt10 {
		padding-top:10px;
	}
.column_03  .check_going 	.pt10 {
		padding-top:10px;
	}
/*check_wait*/		
.column_03  .check_wait   .p_bg {
		background: url(../images/icon_04.gif) center center  no-repeat;
	}	
.column_03  .check_wait  .p_text{
		padding:0;
		color:#1b8cf2;
		text-align:center;
		font:28px/45px "Microsoft YaHei";
	}	
/*check_failed*/	
.column_03  .check_failed   .p_bg {
		background: url(../images/icon_03.gif) center center  no-repeat;
	}	
.column_03  .check_failed  .p_text{
		padding:0;
		color:#c92f2f;
		text-align:center;
		font:28px/45px "Microsoft YaHei";
	}		
/*------------ main_b ------------*/
.main_b {
		position:absolute;
		bottom:0;
		left:0;
		padding:20px 0;
		width:100%;
		z-index:9999;
	}
.main_b p {
		text-align:center;
		color:#fefefe;
		font:18px/30px "Microsoft YaHei";
	}	
/****************************************************************************************************************************************************************			
														
														content2 
														
*****************************************************************************************************************************************************************/
.content2 {
		width:100%;
		height:100%;
		background-color:#fff;
		overflow:auto;
	}
.header {
		height:110px;
		background-color:#e9f0f6;
	}
.header_in ,.middle,.bottom_in {
		margin:0 auto;
		width:1002px;
	}	
.header_in  {
		position:relative;
		padding:25px 0;
	}	
.header_in  .sp_load{
		position:absolute;
		top:0;
		right:10px;
		padding:10px 0;
		color:#000;
		font:14px/30px "Microsoft YaHei";
	}
.header_in  .sp_load a {
		margin-left:10px;
		color:#007cfa;
	}	
.middle {
		padding:40px 0 50px;
	}
.main_aside{
		width:709px;
		border-right:1px solid #f0f0f0;
	}	
.sub_aside {
		width:282px;
	}
.bottom {	
		padding:20px 0;
		width:100%;
		background-color:#fbfbfb;
	}	
.bottom_in .a_btn_02 {
		margin-left:230px;	
	}
.bottom_in .a_btn_03 {
		margin-left:26px;	
	}		
/****************************************************************************************************************************************************************			
														
																content3 
														
*****************************************************************************************************************************************************************/	
.get_tel_msg {
		width:100%;;
	}	
.get_tel_msg p {	
		width:100%;
		zoom:1;
		color:#333;
		font:18px/40px "Microsoft YaHei";
	}	
.get_tel_msg p:after {
		content:"";
		display:block;
		clear:both;
	}	
.get_tel_msg span {
		float:left;
	} 
.get_tel_msg  .sp_l{
		width:50%;
	}	
.get_tel_msg  .sp_r {
		width:45%;
	}	
.get_tel_msg  p .sp_l {
		padding-right:10px;
		text-align:right;
	}		
.get_tel_msg .p_text1 {
		padding:20px 0;
		font:24px/50px "Microsoft YaHei";
	}
.get_tel_msg .p_text1   em {
		color:#007cfa;
		font:36px/50px Arial;	
	}
.get_tel_msg .p_text2 {
		font:18px/50px "Microsoft YaHei";
	}	
.get_tel_msg .p_text4{
		padding-bottom:60px;
	}	
/**************************************
*name     		 theme
*status    		 end
*CreatTime 		 14.05.14
**************************************/
/****************************************************************************************************************************************************************			
														
														levle 2 
														
*****************************************************************************************************************************************************************/
.header2 {
		margin:0 auto;
		padding-top:23px;
		width:1002px;
		height:60px;
		overflow:hidden;
		background: url(../images/header2.png) 0 0 no-repeat;
	}
.a_logo {
		float:left;
		line-height:0;
		font-size:0;
		text-indent:-9999em;
		width:500px;
		height:40px;
	}
.a_exit {
		float:right;
		margin:10px 20px 0 0;
		padding-left:30px;
		color:#fff;
		font:14px/30px "Microsoft YaHei";
		background: url(../images/icon.png) 0 -396px no-repeat;
	}
.a_exit:hover {
		color:#fff;
	} 	
/*----- main2 ----*/	
.main2 {
		margin:0 auto;
		width:1002px;
	}	
.layout1 {
		padding:7px 0;
		background:#f4f8fb  url(../images/layout_01.jpg) 0 0 repeat-x;
		border-bottom:1px solid #e2e8ec;
	}	
.layout1  a ,.layout1 span{
		float:left;
		margin-left:10px;
		color:#000;
		font:14px/30px "Microsoft YaHei";
	}		
.layout1 .a_fj {
		float:left;
		padding-left:30px;
		background: url(../images/icon.png) 0px -261px no-repeat;
	}
.layout1 .sp_close{
		float:left;
		margin:0;
		width:30px;
		height:30px;
		cursor:pointer;
		background: url(../images/icon.png) 0px -172px no-repeat;
	}
.layout1  .a_btn_01 {
		color:#fff;
		margin-left:13px;
	}	
.layout1  .a_btn_01:hover {
		color:#fff;
	}	
.layout2 {
		padding-bottom:10px;
	}	
.layout2 .video {
		margin:0 auto;
		width:602px;
	}
.layout2 .video_box {
		width:640px;
		height:480px;
		overflow:hidden;
		border:2px solid #0c2030;
	}
.layout2 .video_box  img {
		float:left;
		width:640px;
		height:480px;
	}	
.footer {
		padding-top:10px;
		width:100%;
	}	
.footer_in {
		margin:0 auto;
		padding:10px 0;
		width:1002px;
		background:#2785cb url() 0 0 no-repeat;
	}	
.footer_in p {
		color:#fff;
		text-align:center;
		font:14px/20px "Microsoft YaHei";
	}	
	

/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */

#logs{
	position: absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	overflow-y:auto;
	font-size:10px;
	display:none;
}