@charset "utf-8";
/* CSS Document */

/*----日期控件---*/

.date {
		width:255px;
		height:248px;
		background:url(../images/date_bg.jpg) no-repeat 0 0;
		margin-top:7px;
	}
	
.hasDatepicker {
		width:100%;
		height:197px;
	}
	
.ui-datepicker-header {
		width:100%;
		height:34px;
	}
	
.ui-datepicker-prev {
		width:23px;
		height:24px;
		float:left;
		margin:5px 0px 0px 5px;
		display:inline;
		text-indent:999em;
		overflow:hidden;
		background:#4ca6e3 url(../images/left.gif) no-repeat 8px center;
	}
	
.ui-datepicker-next {
		width:23px;
		height:24px;
		float:right;
		margin:5px 5px 0px 0px;
		display:inline;
		text-indent:999em;
		overflow:hidden;
		background:#4ca6e3 url(../images/right.gif) no-repeat 8px center;
	}
	
.ui-datepicker-title {
		width:100px;
		float:left;
		line-height:24px;
		margin:5px 0px 0px 65px;
		display:inline;
	}
	
.ui-datepicker-year {
		color:#ffffff;
		font-size:14px;
		font-weight:bold;
	}

.ui-datepicker-month {
		color:#ffffff;
		font-size:14px;
		font-weight:bold;
	}
	
.ui-datepicker-calendar {
		width:200px;
		margin:0px auto;
	}
	
.ui-datepicker-calendar th {
		height:25px;
		text-align:center;
		color:#5c9fc8;
		font-size:14px;
	}

.ui-datepicker-calendar td {
		height:27px;
		text-align:center;
		color:#2a2a2a;
		font-size:14px;
		font-weight:bold;
	}
	
.ui-datepicker-calendar td a {
		display:block;
		line-height:27px;
		color:#2a2a2a;
	}

td.ui-datepicker-current-day a {
		color:#fff;
		background:url(../images/current_bg.png) no-repeat center center;
		_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/current_bg.png');
		_background-image:none;
	}

	
td.ui-datepicker-today a {
		color:#fff;
		background:url(../images/today_bg.png) no-repeat center center;
		_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/today_bg.png');
		_background-image:none;
	}
	
.jrxx {
		width:100%;
		float:left;
	}
	
.xh {
		padding:0px 0px 0px 155px;
		line-height:25px;
		color:#ece72d;
		font-size:16px;
		font-weight:bold;
		font-family:'microsoft yahei';
		font-style:italic;
	}