@charset "utf-8";
/* CSS Document */
/************************************
 *	Version 		1.0.1
 *	Author			wuwg
 *  CreateTime      14.05.14
 *	UpdateTime		14.05.14
/**************************************



/************************************************************************************************************************************************************************
*name     		 module
*status    		 start
*CreatTime 		 14.05.14
*description	 the css document is about css modul ,  the  section can  not mend
************************************************************************************************************************************************************************/
.fl {
		float:left;
	}
.fr {
		float:right;
	}
.pl30 {
		padding-left:30px;
	}	
/*-------- hgroup -----------*/
/*---- h2_01 ----*/
.h2_01 {
		color:#333;
		text-align:center;
		font:30px/60px "Microsoft YaHei";
	}
.h2_01 span {
		display:inline-block;
		padding-left:60px;
		background: url(../images/btn_01.png) 0 0 no-repeat;
	}
.h2_01 .sp_01 {	
		background-position:0 -1336px;
	}
/*---- h2_02 ----*/
.h2_02 {
		padding:15px 0;
		color:#ff7403;
		text-align:center;
		font:30px/60px "Microsoft YaHei";
	}	
.h2_02 span {
		display:inline-block;
		
	}
.h2_02 .sp_01 {	
		padding-left:60px;
		background: url(../images/icon_02.gif) 0 50% no-repeat;
	}
/*---- h3_01 ----*/	
.h3_01 {
		width:100%;
		height:30px;
		padding-bottom:10px;
		overflow:hidden;
		color:#000;
		font:16px/30px "Microsoft YaHei";
	}
.h3_01 .sp_l {
		float:left;
		padding-left:30px;
		background: url(../images/icon.png) 0 -357px no-repeat;
	}
.h3_01 .sp_r {
		float:right;
		color:#0070cf;
	}	
/*-------- a_btn  --------*/
/*---- a_btn_01 ----*/	
.a_btn_01 {
		float:left;
		width:97px;
		height:31px;
		color:#fff;
		font:14px/30px "Microsoft YaHei";
		background: url(../images/btn_01.png) 0 -966px no-repeat;
	}	
.a_btn_01:hover {
		color:#fff;
		text-decoration:none;
		background-position:0 -1005px;
	}	
.a_btn_01:active {
		color:#fff;
		text-decoration:none;
		background-position:0 -1043px;
	}	
.a_btn_01  em {
		float:left;
		padding-left:28px;
		height:100%;
		white-space:nowrap;
		background:url(../images/icon.png) 0 -97px no-repeat;
	}	
.a_btn_01  .em_01 {
		background-position:0 -99px;
	}	
.a_btn_01  .em_02 {
		background-position:0 -136px;
	}	
.a_btn_01  .em_03 {
		background-position:0 -292px;
	}	
.a_btn_01  .em_04 {
		background-position:0 -325px;
	}		
/*---- a_btn_02 ----*/			
.a_btn_02 {
		float:left;
		width:97px;
		height:35px;
		color:#fff;
		text-align:center;
		font:20px/34px "Microsoft YaHei";
		background: url(../images/btn_01.png) 0 -1084px no-repeat;
	}	
.a_btn_02:hover {
		color:#fff;
		text-decoration:none;
		background-position:0 -1126px;
	}	
.a_btn_02:active {
		color:#fff;
		text-decoration:none;
		background-position:0 -1167px;
	}	
/*---- a_btn_03 ----*/			
.a_btn_03 {
		float:left;
		width:97px;
		height:35px;
		color:#fff;
		text-align:center;
		font:20px/34px "Microsoft YaHei";
		background: url(../images/btn_01.png) 0 -1211px no-repeat;
	}	
.a_btn_03:hover {
		color:#fff;
		text-decoration:none;
		background-position:0 -1253px;
	}	
.a_btn_03:active {
		color:#fff;
		text-decoration:none;
		background-position:0 -1296px;
	}
/*---- a_btn_04 ----*/			
.a_btn_04 {
		display:block;
		margin:0 auto;
		width:180px;
		height:51px;
		color:#fff;
		text-align:center;
		font:24px/50px "Microsoft YaHei";
		background: url(../images/btn_01.png) 0 -1411px no-repeat;
	}	
.a_btn_04:hover {
		color:#fff;
		text-decoration:none;
		background-position:0 -1473px;
	}	
.a_btn_04:active {
		color:#fff;
		text-decoration:none;
		background-position:0 -1535px;
	}
/*-------- table_01 --------*/	
.table_01 {
		width:100%;
	}
.table_01 .col_first {
		width:135px;
		padding-right:10px;
		text-align:right;	
	}
.table_01  td {
		padding:13px 5px ;
		color:#333;
		font:14px/30px "Microsoft YaHei";
	}	
.table_01 .col_first {
		font-size:14px;
		vertical-align:top;
	}	
.table_01 .col_first  em {
		color:#ff0000;
	}
.table_01 .col_second {
		width:400px;
	}
.table_01  .inp_text_01 {
		float:left;
	}
.table_01  .sp_get_msg {
		float:left;
		padding-left:30px;
		background: url(../images/selected.png) 0 -1px no-repeat;
		cursor:pointer;
	}	
.table_01  .sp_get_msg_selected {
		background-position:0 -36px;
	}
/*--------- table_02 --------*/
 .table_02 {
		width:100%;
	}
.table_02  td {
		padding:13px 5px ;
		color:#333;
		font:14px/30px "Microsoft YaHei";
	}	
.table_02 .pl30 {
		padding-left:30px;
	}
.table_02  td em {
		color:#ff0000;
	}	
.table_02  .col_first {
		width:110px;
		text-align:right;
		vertical-align:top;
	}
.table_02  td .sp_fj {
		float:left;
		padding-left:30px;
		background: url(../images/icon.png) 0px -262px no-repeat;
	}
.table_02 .td_link  p {
		font:14px/30px "Microsoft YaHei";
		zoom:1;
	}	
.table_02 .td_link  p:after {
		content:"";
		display:block;
		clear:both;
	}	
.table_02 .td_link  a{
		float:left;
		color:#007cfa;
		text-decoration:underline;
	}
.table_02 .td_link  .sp_close {
		float:left;
		width:30px;
		height:30px;
		cursor:pointer;
		background: url(../images/icon.png) 0px -173px no-repeat;
	}	
/*-------- input --------*/	
.inp_text_01 {
		padding:0 10px;
		width:378px;
		height:28px;
		color:#555;	
		font:14px/28px "Microsoft YaHei";
		border:1px solid #cacaca;
		background-color:#fff;
}
.inp_text_date {
		padding-right:40px;
		width:348px;
		cursor:pointer;
		background: url(../images/icon.png) right  -73px no-repeat;
	}
/*-------- textarea --------*/	
.textarea_01 {
		padding:10px;
		width:378px;
		height:108px;
		border:1px solid #cacaca;
		overflow:auto;
		resize:none;
		color:#333;
		font:14px/24px "Microsoft YaHei";
		background-color:#fff;
	}
/* select */
.search_menu {
		position:relative;
		float:left;
		width:398px;
		height:28px;
		border:1px solid #cbcbcb;
	}
.search_value_box { 
		width:100%;
		height:100%;
		overflow:hidden;
	}
.search_value_box   span { 
		display:block;
		font:14px/28px "Microsoft YaHei";
		color:#555;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
.search_value_box .sp_gain_value {
		padding:0 10px;
		margin-right:29px;
	}
.search_value_box .sp_mousedown { 
		float:right;
		height:100%;
		width:29px;
		background:url(../images/mouse_down.gif) 0 0 no-repeat;
		cursor:pointer;
	}
.search_con_nav {  
		display:none;
		position:absolute;
		top:29px;
		left:-1px;
		width:399px;
		border:1px solid #cbcbcb;
		border-right:none;
		border-top:none;
		background-color:#FFF;
		z-index:9999;	
	}
.search_con_nav  dt,.search_con_nav  dd{ 
		padding:5px 15px;
		height:24px;
		font:14px/24px "Microsoft YaHei";
		color:#555;
		border-right:1px solid #cbcbcb;
	}
.search_con_nav  dt { 
		font-weight:bold;
	}
.search_con_nav  dd {
		cursor:pointer;
	}	
.search_con_nav  dd.dd_hover { 
		background-color:#c7c7c7;
		color:#fff;
	}	
